._border-bottom-black {
    text-decoration: none;
    border-bottom: 1px #000 solid;
}

._link_active {
    border: none;
}

._overlay {
    position: relative;
    z-index: 0;
}

._overlay::before {
    content: "";
    background-color: #00000096;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}

._overlay * {
    position: inherit;
    z-index: 2;
}
